body{

    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.068);
    font-weight: 500;
    color: var(--grey);
}

:root {
    --white :hsl(0, 0%, 98%);
    --grey : hsl(0, 0%, 41%);
    --black :hsl(0, 0%, 8%);
    --epilogue: "Epilogue";
}
.small-nav {
    display: none;
}
.navbar-brand {
    font-weight: 700;
    font-size: 30px;
}
h1 {
    color: var(--black);
    font-weight: 700;
    font-size: 80px;
}
main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.d-flex button {
    color: var(--grey);
    border-color: var(--grey);
    margin-left: 15%;
    border-radius: 10px;
    padding-right: 5%;
    padding-left: 5%;
}
.d-flex {
    align-items: center;
    width: 25%;
    justify-content: end;
}

.d-flex button:hover {
    color: var(--black);
    border-color: var(--black);
    background-color: var(--white);
}
.small-img {
    display: none;
}
.content {
    width: 50%;
    padding: 15% 0;
}
.content p {
    color: var(--grey);
}
.content button {
    padding: 2%;
    width: 25%;
    font-size: 18px;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}
.content button:hover {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
}

.special {
    color: var(--grey);
}
.image {
    width: 40%;
}
.image img {
    width: 100%;
}
.logos {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}
.logos img {
    width: 15%;
}

@media (max-width:375px) {
    .small-nav {
        display: flex;
    }
    .big-nav {
        display:none
    }
    main {
        display: block;
    }
    .image {
        display: none;
    }
    main {
        width: 100%;
    }
    .content {
        width: 100%;
        margin-top: 10%;
    }
    h1 {
        font-size: 32px;
        text-align: center;
        margin: 10% 0 5% 0;
    }
    .content p {
        text-align: center;
        font-size: 18px;
    }
    .content button {
        padding: 2%;
        width: 40%;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .small-img {
        display: block;
    }
    .small-img img {
        width: 100%;
    }

    .logos img {
        width: 15%;
    }
    .d-block button {
        color: var(--grey);
        border-color: var(--grey);
        margin-top: 5%;
        border-radius: 10px;
        padding-right: 5%;
        padding-left: 5%;
    }
    
    .d-block button:hover {
        color: var(--black);
        border-color: var(--black);
        background-color: var(--white);
    }
    }
